@font-face {
  font-family: 'Omyu Pretty';
  src: url('/fonts/omyu-pretty/omyu-pretty.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Omyu Pretty';
  src: url('/fonts/omyu-pretty/omyu-pretty.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Omyu Pretty';
  src: url('/fonts/omyu-pretty/omyu-pretty.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Omyu Pretty';
  src: url('/fonts/omyu-pretty/omyu-pretty.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Omyu Pretty';
  src: url('/fonts/omyu-pretty/omyu-pretty.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Omyu Pretty';
  src: url('/fonts/omyu-pretty/omyu-pretty.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}